

/* ------------- Navbar -------------*/

.img-logo{
    width: 180px;
    display: block;
    background: url('img/white_ifg_logo.png') no-repeat;
    background-size: contain;
    color: transparent;
}

.divisor{
    width: 1px;
    height: 16px;
    background: white;
    margin: 25px;
}

.my-navbar{
    background: #195128;
    margin-bottom: 0px;
}

.navbar-brand{
    color: white !important;
    font-family: Nunito;
    font-size: 20px;
}

.navbar-brand:hover{
    color: #ececec !important;
}

.my-navbar .navbar-nav>li>a{
    color: white;
    font-family: Nunito;
    font-size: 16px;
    margin-top: 10px;
}

.my-navbar .navbar-nav>li>a:hover{
    color: #ececec !important;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    color: #ffffff;
    background: #195128 !important;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #ffffff;
    background-color: transparent;
}

.navbar-nav>li>.dropdown-menu {
    background-color: #195128;
}

.dropdown-menu>li>a:hover{
    background-color: #1e722f;
}

.navbar-nav>li>.dropdown-menu a{
    color: white;
}
.navbar-nav>li>.dropdown-menu a:hover{
    color: #ececec;
}

@media (max-width: 767px){
    .navbar-default .navbar-nav .open .dropdown-menu>li>a {
        color: #ffffff;
    }
    .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
        color: #ececec;
    }
    ul>.divisor{
        display: none;
    }

}

.navbar-toggle{
    margin-top: 15px;
}

.dropdown-menu>li>a:focus{
    color: #ffffff;
    text-decoration: none;
    background-color: #195128;
}

/* ------------- Index ------------- */

#capa{
    margin-top: 70px;
}

#secaocontato{
    padding-top: 100px;
    padding-bottom: 40px;
}

#secaocontato span{
    font-size: 35px;
    color: #195128;
}

.my-border{
    height: 200px;
}

#myCarousel{
    width: 100% !important;
}

.carousel-inner > .item > img {
    position-relative;
    min-width: 100%;
}

.ensinos{
    margin-top: 50px;
    margin-right: 30px;
    color: white;
    padding-top: 30px;
    padding-bottom: 50px;
    cursor: pointer;
}
.ensinos a{
    color: white;
    text-decoration: none;
}

.verde{
    background-color: #32BE4F;
}

.verde:hover{
    background-color: #34cd52;
}

.maisverde{
    background-color: #4D895A;
}

.maisverde:hover{
    background-color: #569a64;
}

.muitomaisverde{
    background-color: #1E722F;
}

.muitomaisverde:hover{
    background-color: #258939;
}


/* ------------- Contato ------------- */

.form-control{
    margin-bottom: 8px;
}

#pagina-contato{
    padding-top: 20px;
    padding-bottom: 40px;
}

#pagina-contato span{
    font-size: 35px;
    color: #195128;
}


/* ------------- Extensão ------------- */

#projetos a{
    text-decoration: none;
    cursor: pointer;
}

#projetos p{
    text-align: justify;
}

/* ------------- Notícia ------------- */
#noticias{
    padding-top: 50px;
    padding-bottom: 60px;

}

.noticia{
    background-color: #f4f4f4f4;
    box-shadow: 2px 2px 6px #4c4c4c;
    margin-bottom: 20px;
    border-radius: 5px;
}


/* ------------- Nossos Cursos ------------- */

#nossos-cursos h4{
    color: #195128;
}

#nossos-cursos a{
    text-decoration: none;
    color: #0d0d0d;
    cursor: pointer;
}

#nossos-cursos a:hover{
    color: #404040;
}

#nossos-cursos{
    padding-top: 30px;
    padding-bottom: 50px;
}

/* ---------- Infraestrutura --------- */
#infraestrutura{
    padding-bottom: 50px;
    padding-top: 50px;
}

#IFGfoto{
    width: 100%;
}
/* ------------- Editais ------------- */

#editais{
    padding-bottom: 60px;
    padding-top: 40px;
}

/* ------------- Estude Conosco ------------- */

#estude-conosco{
    padding-bottom: 80px;
    padding-top: 70px;
}

/* ------------- Footer ------------- */

.img-logo-2{
    width: 250px;
}

footer{
    padding-top: 30px;
    background-color: #195128;
}

footer a{
    color: white;
    cursor: pointer;
}

footer a:hover{
    text-decoration: none;
    color: #ececec;
}

footer a:focus{
    text-decoration: none;
    color: #ececec;
}

.my-direitos{
    padding-top: 10px;
    padding-bottom: 5px;
    background-color: #154020;
    width: 100%;
}

.my-direitos p{
    color: white;
}

.my-social-img{
    width: 60px;
}

footer h4{
    color: #bbbbbb;
}

footer h2{
    color: white;
}


/* ------------- Tipografia ------------- */

a, p, h1, h2, h3, h4, h5, h6{
    font-family: Nunito;
}

p{
    font-size: 16px;
}

a{
    font-size: 16px;
}

hr{
    border-width: .18rem;
    width: 2.5rem;
    border-color: rgba(25, 81, 40, 0.4);
}

@media screen and (max-width: 992px){
    .ensinos{
        margin-right: 200px;
        margin-left: 200px;
    }
}

/* xs < 768 */
@media screen and (max-width: 768px) {
    p{
        font-size: 14px;
    }
    .ensinos{
        margin-right: 100px;
        margin-left: 100px;
    }
}



.my-margin{
    margin-top: 70px;
}

ul, menu, dir {
    display: block;
    list-style-type: none;
    padding-inline-start: 0px;
}
